.jumbotron {
  background-color: #282828;
  margin-bottom: 50px;
}
.jumbotron .masthead {
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
}
.jumbotron .masthead h1 {
  font-size: 13em;
  color: #fff;
  margin-bottom: 50px;
  line-height: 100%;
}
.jumbotron .masthead p {
  font-size: 2.5em;
  color: #fff;
  line-height: 100%;
}
.form-search {
  text-align: center;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
}
